<h1>Create a New Post</h1>

<form method="POST" id="newpost" action="/add-post">
Title: <input type="text" name="title"> <br>
Location: <input type="text" name="location"> <br>

Entry: <textarea rows="20" cols="50" name="content" form="newpost"></textarea> <br>
<input type="checkbox" name="check" value="public"> Public <br><br>

<input type="submit" value="Create Post">
</form>


