<div class="message">
  <h1>Edit Bio</h1>
</div>


<form method="POST" id="editbio" action="/update-bio">
<br><br>
About Yourself: <br><textarea rows="20" cols="50" name="about" form="editbio">{{user.bio}}</textarea> <br>

<input type="submit" value="Edit Bio">
</form>


<br><br>

<a href="/profile">Back</a><br><br>


