
  <h1>Edit Bio</h1>
<h2>Editing Your Bio</h2>



<form method="POST" id="editbio" action="/update-bio">

About Yourself: <br><textarea rows="20" cols="50" name="about" form="editbio">{{user.bio}}</textarea> <br>

<input type="submit" value="Edit Bio">
</form>


<br><br>

<a href="/profile">Back</a><br><br>


