<h1>Welcome to Your Online Journal!</h1>
{{#if user}}
Welcome {{user.username}}!<br><br>

<a href="/">Go to Homepage</a><br>
<a href="/view-posts">Go to Entry List</a><br><br><br>

{{else}}

<a href="/login">Login</a><br><br>
<a href="/register">Register</a>


{{/if}}




</p>
