<h1>Welcome to Your Online Journal!</h1>
{{#if user}}
Welcome {{user.username}}!<br><br>

<a href="/new-post">Make a New Post</a><br><br>

<a href="/personal">Go to Your Posts</a><br>
<a href="/feed">See Public Posts</a><br><br><br>

{{else}}

<a href="/login">Login</a><br><br>
<a href="/register">Register</a>

{{message}}

{{/if}}




</p>
