<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if user}}
		Logged in as {{user.username}}
    {{/if}}
	
    {{{body}}}

    {{#if user}}
    <br><br><a href="/logout">Logout</a><br>
    {{/if}}
  </body>
</html>
