<h1>Login</h1>

<form method="POST" id="login" action="">
	username: <input name="username" type="text">	<br>
	password: <input name="password" type="password">	
	<input type="submit" value="...">	
</form>




