<h1>Register</h1>

<a href="/">Go to Homepage</a><br>
<br><br>

<form method="POST" id="login" action="">
	username: <input name="username" type="text">	<br>
	password: <input name="password" type="password">	
	<input type="submit" value="Register">	
</form>

{{message}}
