body {
	padding-top: 50px;
}
.message {
	padding: 10px 15px;
	text-align: center;
	background: #ccc;
}


.container {
	font-size: 17px;

}
textarea {
    resize: none;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: gray;
}

input {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-color: lightgray;
}

input:focus {
    border-color:#333;
}

input[type=submit] {
    background: black; 
    color: lightgray;
    border-color: black;

}

